
lab3/indexdir/*
lab3/output.txt
project/collection/rcv1
project/collection/rcv1.tar.xz

*.pyc
project/collection/output
project/collection/rcv1_full.json
project/collection/rcv1.json
project/whoosh/*
project/collection/rcv1_sub.json
